html {
  font-size: 100%; //lets the user control the zoom level in their browser
  box-sizing: border-box; //makes the size of the elements include padding and border width in the final width
}

*, *::after, *::before {
  box-sizing: inherit;
  color: $grayishblue;
}

a, a:visited, a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public sans', sans-serif;
  font-size: $font-med;
  font-weight: 300;
  color: $grayishblue;
  line-height: 1.3;

  &.noscroll {
    overflow: hidden;
  }
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Spacing
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

//Button
button, .button {
  padding: 0.875rem 2.1875rem;
  background: linear-gradient(to right, $limegreen, $brightcyan);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: $font-sm;
}

//Visibilty

.hide_for_mobile {
  @include breakpoint-down(medium){
    display: none;
  }
}

.hide_for_desktop {
  @include breakpoint-up(large){
    display: none;
  }
}